body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #122142;
    color: aliceblue;
    background-image: url(./assets/Animated\ Shape.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.header {
    cursor: wait;
}

.hero-banner {
    background-image: url(https://assets7.lottiefiles.com/packages/lf20_tsdnk8ut.json);
}

.span {
    position: relative;
    color: #ea024f;
}

.span::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    left: 0;
    top: 70px;
    background-color: #ea024f;
    z-index: -1000;
    transition: all 0.2s cubic-bezier(0.69, 0.2, 0.59, 1.19);
    transform-origin: left;
}

.span:hover::after {
    width: 100%;
}

.card {
    backdrop-filter: blur(8px) saturate(180%);
    background-color: rgba(17, 47, 80, 0.351);
    -webkit-backdrop-filter: blur(25px) saturate(180%);
}

.card:hover {
    transition: all 0.4s cubic-bezier(0.69, 0.2, 0.59, 1.19);
    scale: 1.05;
}

.card-img {
    max-width: 20rem;
    margin-block: 1rem;
    border-radius: 0.8rem;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.3);
}
